TOKEN=
GEMINI_KEYS=["key1","key2"]
AUTO1111_HOSTS=["host1", "host2"]
LMS_HOSTS=["host1", "host2"]
LOGGING_CHANNEL=
STATUSES=["status1","status2"]
GEOWIFI_URL=
HTTP_PROXY=
SHODAN_KEY=
#Sidepipe specific variables

###################################
### Sidepipe specific variables ###
###################################

# CCTV
#HASS_TOKEN=
#HASS_URL=

# Minecraft server monitoring
#MINECRAFT_SERVERS=["server.example.com:25565"]
#MINECRAFT_CHANNEL=
#MINECRAFT_POLL_INTERVAL=30
